<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="index.ts" verb="*" modules="iisnode"/>
        </handlers>
        <rewrite>
            <rules>
                <rule name="app">
                    <match url="/*" />
                    <action type="Rewrite" url="index.ts"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>